.tech-stack {
  background: var(--bg-grey);
  border-radius: 1.75rem;
  padding: 3rem 4.5rem;
  margin-bottom: 9rem;
  position: relative;
  overflow: hidden;
  cursor: none;

  display: flex;
  flex-direction: column;

  * {
    pointer-events: none;
  }

  h1 {
    margin-block: 1.25rem 1.5rem;
  }

  .technologies-groups {
    display: grid;
    grid-template-areas: "a b c d e";
    row-gap: 2.5rem;
    column-gap: 1.5rem;
    svg {
      width: 18px;
    }
    p[data-group-name] {
      margin-bottom: 1.25rem;
      width: fit-content;
    }
    .tech-group {
      width: fit-content;
      div:not([data-tech-name]) {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
      div[data-tech-name] {
        display: flex;
        align-items: center;
        gap: 4px;
        width: fit-content;
      }
    }
  }
}

.glow {
  &[data-hidden="true"] {
    opacity: 0;
  }
  --position-x: 0%;
  --position-y: 0%;
  position: absolute;
  top: var(--position-y);
  left: var(--position-x);
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: radial-gradient(rgba(255, 255, 255, 1), transparent 60%);
}

@media screen and (width < 900px) {
  .tech-stack .technologies-groups {
    grid-template-areas:
      "a b c"
      "d e f";
  }
}

@media screen and (width < 500px) {
  .tech-stack .technologies-groups {
    grid-template-areas:
      "a b"
      "c d"
      "e f";
  }
}

@media screen and (width < 400px) {
  .tech-stack .technologies-groups {
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e";
  }
}
