$caret-width: calc(48% - 8px);
$pseudo-padding-block: 6px;
$pseudo-padding-inline: 8px;

.header {
  height: 4.25rem;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  animation: slide-down calc(var(--animation-duration) * 2) ease-out forwards;
  animation-delay: calc(var(--animation-duration) * 2);

  .animoji,
  .lang-toggle {
    background: var(--bg-lightest);
    box-shadow: var(--block-shadow-drop);
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1 / 1;
  }

  .animoji {
    overflow: hidden;
    position: relative;
    transition: scale var(--animation-duration);
    video {
      height: 90%;
      position: absolute;
      top: 14%;
      left: -10%;
      pointer-events: none;
    }
  }

  .lang-toggle {
    cursor: pointer;
    overflow: hidden;
    transition: scale var(--animation-duration);
    &:active {
      scale: 1.1;
    }
    [data-role="language-spin"] {
      height: 200%;
      &[data-lang="en"] {
        rotate: 180deg;
      }
      transition: all var(--animation-duration);
      pointer-events: none;
      h4 {
        height: 50%;
        text-transform: uppercase;
        text-align: center;
        align-content: center;
        pointer-events: none;
        user-select: none;

        &:last-of-type {
          rotate: 180deg;
        }
      }
    }
  }

  .topic-toggle {
    height: 100%;
    width: max(20%, 190px);
    background: var(--bg-grey);
    border-radius: 64px;
    box-shadow: var(--block-shadow-drop);
    position: relative;
    z-index: 0;
    cursor: pointer;

    display: flex;
    justify-content: space-between;

    h4 {
      width: $caret-width;
      height: 100%;
      text-align: center;
      align-content: center;
      margin-inline: $pseudo-padding-inline 0;
      user-select: none;
      pointer-events: none;
      &:last-of-type {
        margin-inline: 0 $pseudo-padding-inline;
      }
    }

    [data-role="caret"] {
      z-index: -1;
      position: absolute;
      top: $pseudo-padding-block;
      background: var(--bg-lightest);
      height: calc(100% - 12px);
      width: $caret-width;
      border-radius: 44px;
      pointer-events: none;
      &[data-position="left"] {
        left: $pseudo-padding-inline;
      }
      &[data-position="right"] {
        left: calc(100% - $caret-width - $pseudo-padding-inline);
      }
      transition: all var(--animation-duration);
    }

    &[data-transitioned="true"] {
      transition: transform var(--animation-duration);
    }
  }
}

@media (pointer: coarse) {
  .animoji {
    pointer-events: none;
  }
}

@media (pointer: fine) {
  .animoji:hover {
    scale: 1.2;
  }
  .topic-toggle:active [data-role="caret"] {
    top: calc(4% + 6px);
    height: calc(92% - 12px);
    width: calc($caret-width + 4px);
    &[data-position="left"] {
      left: calc($pseudo-padding-inline + 4px);
    }
    &[data-position="right"] {
      left: calc(100% - $caret-width - $pseudo-padding-inline - 8px);
    }
  }
}

@media screen and (max-width: 736px) {
  .main-content .greeting p {
    width: 85%;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }
  50% {
    transform: translateY(20%);
    opacity: 0.5;
  }
  75% {
    transform: translateY(-10%);
    opacity: 0.75;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
