.footer {
  background-color: var(--bg-grey);
  width: 100%;
  padding-block: 2.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  p:not(:last-of-type) {
    max-width: 50%;
    margin-bottom: 4rem;
    text-align: center;
  }

  .external-links {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
}
